Package: emc-metalnx-rmd
Version: {{VERSION-NUMBER}}-{{BUILD-NUMBER}}
Section: misc
Priority: optional
Architecture: all
Maintainer: Henrique Nogueira <henrique.nogueira@emc.com>
Description: EMC MetaLnx Remote Monitoring Daemon
